body {
    margin: 0;
    background-image: url("../img/cover/littlecover.jpg");
}


#background-container {
    /* Initialize the background contain */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;

    /* Set the background image as the bottom layer and 
    slightly transparent to highlight other text content */
    z-index: -1;
    opacity: 0.8;
    transition: background-image 1s ease-in-out;
    margin: 0;
}

.head {
    display: flex;
    align-items: center;
    background-color: #f6f5ea;
    margin: 0px;
}

.head>span {
    cursor: default;
    margin-left: auto;
}

.homebutton {
    /* Initialize the homebutton */
    color: #293A29;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    font-size: 30px;
    text-align: left;
    margin-left: 10px;
}

.homebutton:hover {
    /* Set a shadow gradient */
    transition-duration: 0.3s;
    text-shadow: 2px 2px 10px #293A29;
}

.topic {
    /* Initialize the topic block */
    display: flex;
    align-items: center;
    font-family: 'Pacifico', cursive;
    color: #293A29;
    position: absolute;
    left: 38%;
}

#date {
    color: #293A29;
}

#temp {
    background-color: #f4f0bd;
    border-radius: 5px;
    margin-left: 10px;
    color: #293A29;
}

div.cover_title {
    /* Initialize the main title */
    display: flex;
    justify-content: center;
    align-items: center;
    color: #293A29;
    height: 80mm;
    font-size: 80px;

    /* Set a little delay to make the font size change more smoothly */
    transition: font-size 0.3s ease;
    font-family: 'Pacifico', cursive;
    text-shadow: 10px 2px 7px rgb(184, 227, 184);
    cursor: default;
}



#cover_nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
}


#cover_nav>div {
    flex: 1;
    text-align: center;
}

#cover_nav>div>a {
    /* Initialize hyperlinks to four subpages */
    color: #293A29;
    text-decoration: none;/* Remove the underline to make it look better */
    font-size: 30px;
    font-weight: 600;
    font-family: 'Dancing Script', cursive;
    transition-duration: 0.7s;
}

#cover_nav>div>a:hover {
    /* The effect becomes more prominent when the mouse is hovering */
    color: aliceblue;
    font-size: 37px;
    text-shadow: 4px 2px 5px #634816;
}

#cover_nav>div>img {
    height: 120px;
    opacity: 0;
    animation: fadeIn 2.5s forwards;/* Make the image gradually appear */
}

.sidebar {
    /* Initialize the sidebar */
    position: fixed;
    right: -185px;
    width: 200px;
    height: 80px;
    background-color:#f6f5ea;
    color: rgb(0, 0, 0);
    transition: right 0.3s ease;
    padding: 10px;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
    bottom: 30px;
    border-radius: 4px;
    text-align: right;
}
.sidebar:hover {
    right: 0;
}

.register{
    font-size: 16px;
    color:#293A29;
}

/* One smaller screen adaptation, appropriately adjust the font size to make the layout reasonable */
@media (max-width: 900px) {

    .topic {
        display: none;
    }

    div.cover_title {
        font-size: 60px;
    }

    #cover_nav>div>a {
        font-size: 25px;
    }
    #cover_nav>div>a:hover {
        font-size: 30px;
    }
}

/* an other screen adaptation, hide some image */
@media (max-width: 650px) {

    #background-container {
        display: none;
    }

    div.cover_title {
        font-size: 40px;
    }

    #cover_nav>div>img {
        display: none;
        transition-duration: 0.7s;
    }
    .label{
        display: inline-block;
        width: 100px; 
    }
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

